**print Statements**
- basic

- format

- f string

- end

- sep

In [15]:
# in jupyter notebook, only last variable value is printed.
num1=10
num2=20

num1
num2

20

In [9]:
print(num1)
print(num2)

10
20

In [13]:
# when suingprint statements side by side, 
# the value will be printed but not saved thatswhy it shows None
# can use the variables side by side and no need to use print 

print(num1), print(num2)

10
20

(None, None)

In [17]:
num1=10
num2=20
print(num1)
print(num2)

######################

num1=10
num2=20
print(num1), print(num2)
num1, num2

######################

num1=10
num2=20
print(num1, num2)

10
20
10
20
10 20

In [19]:
print(30,20,'Python')

30 20 Python

In [25]:
a=100
b=200
c=a+b
# case : the additiona of 100 and 200 is 300
print('the additiona of',a,'and',b,'is', c )

the additiona of 100 and 200 is 300

In [29]:
name='python'
age=10
city='Hyd'
# case : My name is python im 10 years old and from hyd
print('My name is',name,'im',age,'years old and from',city)

My name is python im 10 years old and from Hyd

**format method**

In [34]:
a=100
b=200
c=a+b
# case : the additiona of 100 and 200 is 300
print('the additiona of {} and {} is {}'.format(a,b,c))

the additiona of 100 and 200 is 300

In [36]:
name='python'
age=10
city='Hyd'
# case : My name is python im 10 years old and from hyd
print('My name is {} im {} years old and from {}'.format(name, age, city))

My name is python im 10 years old and from Hyd

**f string method**

In [40]:
a=100
b=200
c=a+b
# case : the additiona of 100 and 200 is 300
print(f'the additiona of {a} and {b} is {c}' )

the additiona of 100 and 200 is 300

In [43]:
name='python'
age=10
city='Hyd'
# case : My name is python im 10 years old and from hyd
print(f'My name is {name} im {age} years old and from {city}')

My name is python im 10 years old and from Hyd

In [55]:
num1=100
num2=200
sub=num1-num2
add=num1+num2
mult=num1*num2
div=num1/num2

# format method:
print('============= format method ================')
print('The addition of {} and {} is {}'.format(num1,num2,num1+num2))
print('The subtraction of {} and {} is {}'.format(num1,num2,num1-num2))
print('The multiplication of {} and {} is {}'.format(num1,num2,num1*num2))
print('The division of {} and {} is {}'.format(num1,num2,num1/num2))

# f string method
print('============= f string method ================')
print(f'The addition of {num1} and {num2} is {num1+num2}')
print(f'The subtraction of {num1} and {num2} is {num1-num2}')
print(f'The multiplication of {num1} and {num2} is {num1*num2}')
print(f'The division of {num1} and {num2} is {num1/num2}')

============= format method ================
The addition of 100 and 200 is 300
The subtraction of 100 and 200 is -100
The multiplication of 100 and 200 is 20000
The division of 100 and 200 is 0.5
============= f string method ================
The addition of 100 and 200 is 300
The subtraction of 100 and 200 is -100
The multiplication of 100 and 200 is 20000
The division of 100 and 200 is 0.5

$end$
- end is a parameter of print statement
- It is used to cpmbine multiple print statements

In [70]:
print(20,end=' ==> ')
print(30)

20 ==> 30

$sep$
- sep is a parameter of print statement
- It is used to separate multiple variables in a single print statement

In [79]:
print(20,30,40,sep='=')

20=30=40

In [83]:
print('the addition of 3+4 is',3+4,'.')
# case : fix the print statement to give below statement
# the addition of 3+4 is 7.
#

the addition of 3+4 is 7 .

In [101]:
# format method
print('The addition of 3+4 is {}.'.format(3+4))
# f string 
print(f'The addition of 3+4 is {3+4}.')
# sep 
print('The addition of 3+4 is ',3+4,'.',sep='')

The addition of 3+4 is 7.
The addition of 3+4 is 7.
The addition of 3+4 is 7.